<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bintutu.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_names"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Loading">

        </activity>
        <!--商铺登录页-->
        <activity
            android:name=".ui.activity.ShopLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--首页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--准备扫描-->
        <activity
            android:name=".ui.activity.ReadyToScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" >
        </activity>
        <!--数据详情页-->
        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >

        </activity>
        <!--放大图片-->
        <!--上传成功页-->
        <activity
            android:name=".ui.activity.UploadSucessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <service
            android:name=".ui.server.UploadServer"
            android:exported="false"/>

    </application>

</manifest>