<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bintutu.shop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_names"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Loading">

        </activity>
        <!--商铺登录页-->
        <activity
            android:name=".ui.activity.ShopLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <!--首页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <!--Web-->
        <activity
            android:name=".ui.activity.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <!--准备扫描-->
        <activity
            android:name=".ui.activity.ReadyToScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">

        </activity>
        <!--gif动画页-->
        <activity
            android:name=".ui.activity.GifActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--数据详情页-->
        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--上传成功页-->
        <activity
            android:name=".ui.activity.UploadSucessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <!--上传成功页-->
        <activity
            android:name=".ui.activity.PhotoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity android:name=".ui.activity.TextActivity">

        </activity>
        <service android:name=".ui.server.UploadService"/>


    </application>

</manifest>